################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Day2HomeWork/.vs/Day2HomeWork/v14
